<div class="container">

<%= form_for @picture do |f| %>
  <%= f.text_field  :content %>
  <%= f.file_field  :image %>
  <%= f.submit "投稿する" %>
<% end %>

  <% @pictures.each do |picture| %>
  <div style="width: 500px; height: 300px; margin: 20px auto; border: 1px solid red;">

  <%= picture.content %>
  <%= picture.image %>
  </div>
  <% end %>


</div>
