<h2 style="text-align: center;"><%= @user.email %>のページ</h2>
<div style="text-align: center;">
  <% @user.pictures.each do |picture| %>
  <ul class="top">
    <li><%= picture.image %></li>
    <li><%= picture.content %></li>
    <%= link_to "[edit]", edit_picture_path(picture.id) %>
    <%= link_to "[delete]", picture_path(picture.id), method: :delete %>
  </ul>
  <% end %>
</div>
