<!DOCTYPE html>
<html>
<head>
  <title>InstagramClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="clearfix">
    <div class="header-left">
      <h2><%= link_to "Instagram", root_path %></h2>
    </div>
    <div class="header-right">
      <ul class="top">
        <% if user_signed_in? %>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "マイページ", user_path(current_user.id) %></li>
        <% else %>
        <li><%= link_to "サインイン", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </header>
  <div class="wrapper" >
    <%= yield %>

  </div>

<footer>
  <h4>Facebook Inc.</h4>
</footer>

</body>
</html>
